@font-face {
    font-family: 'ubuntu';
    src: url("../fonts/Ubuntu-Regular.ttf");
    src: url('../fonts/ubuntu-regular-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}